{% extends "enquiry/base.html" %}

{% block sub_title %}
  Create an enquiry
{% endblock sub_title %}

{% block sub_heading %}
  Create an enquiry
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Enquiry' help_text=consent_message inline_checkbox=True %}
    </div>
  </div>
{% endblock content %}
