{% extends 'enquiry/base.html' %}
{% load static %}

{% block sub_title %}
  Example app
{% endblock sub_title %}

{% block sub_heading %}
  Example app
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'enquiry.list' %}" class="pure-menu-link">
              <i class="fa fa-comments-o"></i>
              List of Enquiries
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'example.enquiry.create' %}" class="pure-menu-link">
              <i class="fa fa-comments-o"></i>
              New Enquiry
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
