{% extends 'enquiry/base.html' %}

{% block title %}
  Enquiries
{% endblock title %}

{% block sub_heading %}
  Enquiries
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Date</th>
            <th>From</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for e in enquiry_list %}
            <tr valign="top">
              <td>
                {{ e.created|date:'d/m/Y' }}
                <br />
                {{ e.created|date:'H:i A' }}
              </td>
              <td>
                {{ e.name }}
                <br />
                {% if e.email %}
                  {{ e.email|urlize }}
                {% endif %}
                {% if e.phone and e.email %}
                  <br />
                {% endif %}
                {% if e.phone %}
                  {{ e.phone }}
                {% endif %}
              </td>
              <td>
                {% if e.description %}
                  {{ e.description|urlize|linebreaksbr }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
